/* Reset básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables de diseño */
:root {
  --bg: #0f172a;
  --bg-soft: #020617;
  --primary: #38bdf8;

  --text: #e5e7eb;
  --text-muted: #94a3b8;

  --border: #1e293b;

  --radius: 14px;
}

/* Base */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  color: var(--text);
  line-height: 1.6;

  background: #e3b1c4;
  background: radial-gradient(circle, rgba(227, 177, 196, 1) 0%, rgba(204, 180, 207, 1) 15%, rgba(212, 184, 184, 1) 27%, rgba(70, 109, 158, 1) 64%);

  position: relative;
  overflow-x: hidden;
}

/* Capa difuminada decorativa */
body::before {
  content: "";
  position: fixed;
  inset: -20%;

  background:
    radial-gradient(600px circle at 20% 10%,
      rgba(56, 189, 248, 0.12),
      transparent 60%),
    radial-gradient(500px circle at 80% 30%,
      rgba(99, 102, 241, 0.1),
      transparent 60%);

  filter: blur(80px);
  opacity: 0.9;
  z-index: -1;
}


/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Layout principal */
main {
  min-height: calc(100vh - 120px);
  padding: 2rem 1.5rem;
}

/* Contenedor general */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Texto auxiliar */
.auth-link {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.auth-link a {
  color: var(--primary);
  font-weight: 500;
}

/* Scroll más fino */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}